<h1>Comment Delete</h1>
<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>
<p>
  <%= link_to 'Destroy Comment', [@piece, @comment],
              method: :delete,
              data: { confirm: 'Are you sure?'} %>
</p>
