<div class="relative">
<h1 class="absolute-text">Artist Portfolio</a></h1>
</div>
<br>
<br>
<br>

  <div class="index">
    <% @pieces.each do |piece| %>
      <div>
        <img class="peek" src="<%= piece.image_url %>">
        <h4><%= link_to piece.name, piece_path(piece) %></h4>
      </div>
    <% end %>
  </div>
