// Place all the styles related to the pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tip {
  padding: 1rem;
}

.one {
  border: .2rem solid rgb(163, 163, 194);
  margin: -1rem auto;
  height: 25rem;
  width: 40rem;
}

.container {
  max-width: 1000px;
}
