// Place all the styles related to the pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-sprockets";
@import "bootstrap";

.relative{position:relative; width:100%;}
.absolute-text{position:absolute; top:0; margin: 0px; width:100%; text-align:center; font-size: 50px}

.item {
  height: 10rem;
  width: 10rem;
  display: inline;
}

.active {
  height: 10rem;
  width: 10rem;
  display: inline;
}

.pict {
  height: 10rem;
  width: 10rem;
  display: inline;
}

.pico {
  display: flex;
  flex-wrap: wrap;
}
