// Place all the styles related to the pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.one {
max-width: 50rem;
}

.home {
  display: inline;
}


.container {
  max-width: 1000px;
}

.slides {
  width:100%
}
